<%= form_with(model: review) do |form| %>
  <% if review.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :userid %>
    <%= form.text_field :userid %>
  </div>

  <div>
    <%= form.label :movieid %>
    <%= form.text_field :movieid %>
  </div>

  <div>
    <%= form.label :reviewdate %>
    <%= form.date_field :reviewdate %>
  </div>

  <div>
    <%= form.label :rating %>
    <%= form.number_field :rating, in: 1..5 %> <!-- Assuming rating is between 1 and 5 -->
  </div>

  <div>
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
